In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('/content/sample_data/Churn.csv')

In [3]:
data.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [4]:
data.drop(['Customer ID'],axis = 'columns' , inplace=True)

In [5]:
data.head()

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

**CHECKING UNIQUE VALUES IN ALL COLUMNS AND REPLACING IT WITH NUMBERS**

In [6]:
data['Dependents'].unique()

array(['No', 'Yes'], dtype=object)

In [7]:
data['Partner'].unique()

array(['Yes', 'No'], dtype=object)

In [8]:
data['Phone Service'].unique()

array(['No', 'Yes'], dtype=object)

In [9]:
data['Multiple Lines'].unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [10]:
data['Online Security'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [11]:
data['Online Backup'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [12]:
data['Device Protection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [13]:
data['Tech Support'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [14]:
data['Streaming TV'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [15]:
data['Streaming Movies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [16]:
data['Paperless Billing'].unique()

array(['Yes', 'No'], dtype=object)

In [17]:
data['Dependents'] = data['Dependents'].apply(lambda x:1 if x=='Yes' else 0)
data['Partner'] = data['Partner'].apply(lambda x:1 if x=='Yes' else 0)
data['Phone Service'] = data['Phone Service'].apply(lambda x:1 if x=='Yes' else 0)
data['Multiple Lines'] = data['Multiple Lines'].apply(lambda x:1 if x=='Yes' else 0)
data['Online Security'] = data['Online Security'].apply(lambda x:1 if x=='Yes' else 0)
data['Online Backup'] = data['Online Backup'].apply(lambda x:1 if x=='Yes' else 0)
data['Device Protection'] = data['Device Protection'].apply(lambda x:1 if x=='Yes' else 0)
data['Tech Support'] = data['Tech Support'].apply(lambda x:1 if x=='Yes' else 0)
data['Streaming TV'] = data['Streaming TV'].apply(lambda x:1 if x=='Yes' else 0)
data['Streaming Movies'] = data['Streaming Movies'].apply(lambda x:1 if x=='Yes' else 0)
data['Paperless Billing'] = data['Paperless Billing'].apply(lambda x:1 if x=='Yes' else 0)

In [18]:
data.head()

,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,Female,0,1,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,No
1,Female,0,1,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,No
2,Male,0,0,0,34,1,0,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.5,No
3,Male,0,0,0,2,1,0,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,Yes
4,Male,0,0,0,45,0,0,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,No

In [26]:
new_data = pd.get_dummies(data['Gender'])

In [27]:
new_data.head()

   Female  Male
0       1     0
1       1     0
2       0     1
3       0     1
4       0     1

In [31]:
data['Female'] = new_data['Female']
data['Male'] = new_data['Male']
data.drop(['Gender'] , axis= 'columns' , inplace=True)

In [32]:
data.head()

,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,...,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn,Female,Male
0,0,1,0,1,0,0,DSL,0,1,0,...,0,0,Month-to-month,1,Electronic check,29.85,29.85,No,1,0
1,0,1,0,1,0,0,DSL,0,1,0,...,0,0,Month-to-month,1,Electronic check,29.85,29.85,No,1,0
2,0,0,0,34,1,0,DSL,1,0,1,...,0,0,One year,0,Mailed check,56.95,1889.5,No,0,1
3,0,0,0,2,1,0,DSL,1,1,0,...,0,0,Month-to-month,1,Mailed check,53.85,108.15,Yes,0,1
4,0,0,0,45,0,0,DSL,1,0,1,...,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,No,0,1

In [34]:
data['Internet Service'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [35]:
new_data = pd.get_dummies(data['Internet Service'])

In [36]:
new_data.head()

   DSL  Fiber optic  No
0    1            0   0
1    1            0   0
2    1            0   0
3    1            0   0
4    1            0   0

In [37]:
data['DSL'] = new_data['DSL']
data['Fiber optic'] = new_data['Fiber optic']
data['No'] = new_data['No']
data.drop(['Internet Service'] , axis='columns' , inplace=True)

In [38]:
data.head()

,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,Tech Support,...,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn,Female,Male,DSL,Fiber optic,No
0,0,1,0,1,0,0,0,1,0,0,...,1,Electronic check,29.85,29.85,No,1,0,1,0,0
1,0,1,0,1,0,0,0,1,0,0,...,1,Electronic check,29.85,29.85,No,1,0,1,0,0
2,0,0,0,34,1,0,1,0,1,0,...,0,Mailed check,56.95,1889.5,No,0,1,1,0,0
3,0,0,0,2,1,0,1,1,0,0,...,1,Mailed check,53.85,108.15,Yes,0,1,1,0,0
4,0,0,0,45,0,0,1,0,1,1,...,0,Bank transfer (automatic),42.30,1840.75,No,0,1,1,0,0

In [39]:
data['Payment Method'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [41]:
new_data = pd.get_dummies(data['Payment Method'])

In [42]:
new_data.head()

,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,0,0,1,0
1,0,0,1,0
2,0,0,0,1
3,0,0,0,1
4,1,0,0,0

In [43]:
data['Bank transfer'] = new_data['Bank transfer (automatic)']
data['Credit card'] = new_data['Credit card (automatic)']
data['Electronic check'] = new_data['Electronic check']
data['Mailed check'] = new_data['Mailed check']

data.drop(['Payment Method'] , axis='columns' , inplace=True)

In [44]:
data.head()

,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,Tech Support,...,Churn,Female,Male,DSL,Fiber optic,No,Bank transfer,Credit card,Electronic check,Mailed check
0,0,1,0,1,0,0,0,1,0,0,...,No,1,0,1,0,0,0,0,1,0
1,0,1,0,1,0,0,0,1,0,0,...,No,1,0,1,0,0,0,0,1,0
2,0,0,0,34,1,0,1,0,1,0,...,No,0,1,1,0,0,0,0,0,1
3,0,0,0,2,1,0,1,1,0,0,...,Yes,0,1,1,0,0,0,0,0,1
4,0,0,0,45,0,0,1,0,1,1,...,No,0,1,1,0,0,1,0,0,0

In [45]:
data['Churn'] = data['Churn'].apply(lambda x:1 if x=='Yes' else 0)

In [46]:
data.head()

,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,Tech Support,...,Churn,Female,Male,DSL,Fiber optic,No,Bank transfer,Credit card,Electronic check,Mailed check
0,0,1,0,1,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
1,0,1,0,1,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
2,0,0,0,34,1,0,1,0,1,0,...,0,0,1,1,0,0,0,0,0,1
3,0,0,0,2,1,0,1,1,0,0,...,1,0,1,1,0,0,0,0,0,1
4,0,0,0,45,0,0,1,0,1,1,...,0,0,1,1,0,0,1,0,0,0

**CONVERTING TENURE COLUMN IN SCALER FORMAT FOR BETTER RESULT**

In [47]:
data.tenure.max()

72

In [48]:
data['tenure'] = data.tenure/72

In [49]:
data.head()

,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,Tech Support,...,Churn,Female,Male,DSL,Fiber optic,No,Bank transfer,Credit card,Electronic check,Mailed check
0,0,1,0,0.013889,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
1,0,1,0,0.013889,0,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
2,0,0,0,0.472222,1,0,1,0,1,0,...,0,0,1,1,0,0,0,0,0,1
3,0,0,0,0.027778,1,0,1,1,0,0,...,1,0,1,1,0,0,0,0,0,1
4,0,0,0,0.625000,0,0,1,0,1,1,...,0,0,1,1,0,0,1,0,0,0

In [75]:
data.dtypes

Senior Citizen         int64
Partner                int64
Dependents             int64
tenure               float64
Phone Service          int64
Multiple Lines         int64
Online Security        int64
Online Backup          int64
Device Protection      int64
Tech Support           int64
Streaming TV           int64
Streaming Movies       int64
Contract             float64
Paperless Billing      int64
Monthly Charges      float64
Total Charges        float64
Churn                  int64
Female                 uint8
Male                   uint8
DSL                    uint8
Fiber optic            uint8
No                     uint8
Bank transfer          uint8
Credit card            uint8
Electronic check       uint8
Mailed check           uint8
dtype: object

In [74]:
data['Total Charges'] = pd.to_numeric(data['Total Charges'] , errors = 'coerce')
data['Contract'] = pd.to_numeric(data['Contract'] , errors='coerce')

In [76]:
data.dtypes

Senior Citizen         int64
Partner                int64
Dependents             int64
tenure               float64
Phone Service          int64
Multiple Lines         int64
Online Security        int64
Online Backup          int64
Device Protection      int64
Tech Support           int64
Streaming TV           int64
Streaming Movies       int64
Contract             float64
Paperless Billing      int64
Monthly Charges      float64
Total Charges        float64
Churn                  int64
Female                 uint8
Male                   uint8
DSL                    uint8
Fiber optic            uint8
No                     uint8
Bank transfer          uint8
Credit card            uint8
Electronic check       uint8
Mailed check           uint8
dtype: object

In [77]:
X = data.drop(['Churn'] , axis='columns')

In [78]:
y = data.Churn

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
x_train, x_test,y_train, y_test = train_test_split(X,y,test_size=0.2)

In [81]:
x_train

,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,Tech Support,...,Total Charges,Female,Male,DSL,Fiber optic,No,Bank transfer,Credit card,Electronic check,Mailed check
1871,0,0,0,0.013889,1,0,0,0,0,0,...,45.55,0,1,1,0,0,0,0,0,1
5991,0,0,1,0.500000,1,0,0,1,0,0,...,3512.50,0,1,0,1,0,0,0,1,0
949,1,0,0,0.486111,1,1,0,0,1,0,...,3395.80,0,1,0,1,0,0,0,1,0
6256,1,1,0,0.958333,1,1,1,0,1,1,...,7610.10,0,1,0,1,0,0,0,0,1
711,0,0,0,0.013889,1,0,0,0,0,0,...,19.55,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6457,0,0,1,0.694444,1,0,0,0,0,0,...,3533.60,1,0,0,1,0,0,1,0,0
1487,0,0,0,0.027778,1,0,0,1,0,1,...,102.75,1,0,1,0,0,0,1,0,0
6718,1,1,0,0.791667,1,1,0,0,1,0,...,5746.15,0,1,0,1,0,0,0,1,0
4964,0,1,0,0.652778,1,0,0,1,1,0,...,3522.65,0,1,1,0,0,0,0,1,0
4762,0,1,1,1.000000,1,1,0,0,0,0,...,1738.90,0,1,0,0,1,1,0,0,0

In [82]:
x_train.shape

(5635, 25)

In [86]:
model = keras.Sequential([
        keras.layers.Dense(20 , input_shape = (25,) , activation='relu'),
        keras.layers.Dense(15 , activation='relu'),
        keras.layers.Dense(10 ,  activation='relu'),
        keras.layers.Dense(1 , activation='sigmoid'),
])

model.compile(
    optimizer = 'SGD',
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

model.fit(x_train , y_train, epochs=5)

Epoch 1/5
177/177 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.7326
Epoch 2/5
177/177 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7326
Epoch 3/5
177/177 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7326
Epoch 4/5
177/177 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7326
Epoch 5/5
177/177 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7326

In [87]:
model.evaluate(x_test , y_test)

45/45 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7431

[nan, 0.743080198764801]